$red: #C65038;

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;

  &-copyright {
    color: $red;
  }
}

@media(max-width: 576px) {
  .footer {
    padding-top: 15px;
  }
}
